.callFooter {
    display: flex;
    background: white;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px -10px 22px rgba(0, 0, 0, 0.466);
    text-align: center;
    .callUser {
        display: flex;
        padding: 8px;
        // height: 75px;
        flex-direction: column;
        input {
            padding: 6px;
            margin: 4px;
            border-radius: 4px;
            border: 1px solid rgba(128, 128, 128, 0.692);
        }
        button {
            padding: 6px;
            margin: 4px;
            border-radius: 4px;
            border: none;
            color: #fff;
        background: linear-gradient(to right,#7855c8,#cb53bd,#fcc476);

            // background: rgb(105, 105, 211);
            &:hover{
                background: rgb(157, 218, 67);
            }
        }
    }
    .reciveCall{
        display: flex;
        padding: 8px;
        // height: 75px;
        flex-direction: column;
        button {
            padding: 6px;
            margin: 4px;
            border-radius: 4px;
            border: none;
        background: linear-gradient(to right,#7855c8,#cb53bd,#fcc476);

            color: #fff;
            // background: rgb(105, 105, 211);
            &:hover{
                background: rgb(157, 218, 67);
            }
        }
        h4{
            padding: 6px;
            margin: 4px;
        }
    }
    .endReload{
        display: flex;
        padding: 8px;
        // height: 75px;
        button {
            padding: 6px;
            flex: 1;
            margin: 4px;
            border-radius: 4px;
            border: none;
            color: #fff;
        background: linear-gradient(to right,#7855c8,#cb53bd,#fcc476);

            // background: rgb(105, 105, 211);
            &:hover{
                background: rgb(157, 218, 67);
            }
        }
        .endBtm{
            background: red;
            &:hover{
                background: black;
            }
        }
    }
}