.callDropbox {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 2px auto;
    border-radius: 8px;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.555);
    .accept button {
        width: 60%;
        padding: 8px;
        font-size: 15px;
        font-weight: 600;
        color: white;
        // background: rgb(105, 105, 211);
        background: linear-gradient(to right,#7855c8,#cb53bd,#fcc476);
        border-radius: 8px;
        border: none;
        &:hover {
            background: rgb(157, 218, 67);
        }
    }
    h2 {
        color: black;
        font-family:  sans-serif;
    }
    h2 span {
        color: rgb(105, 105, 211);
    }
}