.container {
    background: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
    @extend .displayFlex;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.mainContainer {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.287);
    min-height: 381.891px;
    min-width: 493.594px;
    @extend .displayFlex;
    background: white;
    border-radius: 20px;
    position: relative;
    max-width: 1000px;
    max-height: 425px;
    overflow: hidden;
    padding: 0px;
    height: 95vh;
    width: 80vw;
    
    .buttonsContainer{
        background: linear-gradient(to top,#0ed0e0,#ef0afe);
        justify-content: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        display: flex;
        height: 100%;
        width: 100%;
        flex: 1;
        >.linkBtn {
            box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.507);
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            text-decoration: none;
            text-align: center;
            font-size: 1.5em;
            margin: 10px 0px;
            font-weight: 500;
            padding: 10px;
            width: 140px;
            border: none;
            z-index: 8;
        }
        .circle{
            position: absolute;
            border-radius: 50%;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.068);
            z-index: 1;
            aspect-ratio: 1/1;
            background: linear-gradient(to bottom,#0ed0e0, #ef0afe);
        }
        .circle1 {
            background: linear-gradient(to bottom,#7855c8,#cb53bd,#fcc476);
            top: -12vh;
            left: -17vh;
            height: 70vh;
            z-index: 6;
        }
        .circle2 {
            bottom: -15vh;
            left: -10vh;
            height: 40vh;
            z-index: 5;
        }
        .circle3 {
            bottom: -12vh;
            right: 0vh;
            height: 58vh;
            z-index: 2;
        }
        .circle4 {
            bottom: 5vh;
            right: -10vh;
            height: 43vh;
            z-index: 4;
        }
        .circle5 {
            top: 6vh;
            right: -10vh;
            height: 48vh;
            z-index: 3;
        }
    }
    @media screen and (max-width: 549px) {
        flex-direction: column-reverse;
        margin-top: 10px;
        min-width: none;
        height: auto;
        min-height: auto;
        max-height: max-content;
        min-width: 10px;
        max-width: 400px;
        width: 98vw;
        .buttonsContainer {
            flex-direction: row;
            height: 60px;
            min-height: 50px;
            justify-content: baseline;
            .linkBtn {
                border-top-left-radius: 8px;
                border-bottom-right-radius: 0px;
                margin: 6px;
                // height: 50px;
                bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}