.VideoCallPageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    .videoContainer {
        flex: 1;
        @extend .displayFlex;
        position: relative;
        max-height: 100vh;
        .vdoItem {
            display: inline-block;
            position: relative;
            display: flex;
            margin: 4px;
            padding: 0px;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.411);
            h2 {
                margin: 8px;
                color: white;
                padding: 4px;
                position: absolute;
                top: 0px;
                left: 0px;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 18px;
            }
            
            video {
                flex: 1;
                border: none;
                overflow: hidden;
                margin: 0px;
                padding: 0px;
                height: max-content;
                width: 48vw;
                display: inline-block;
                border: 5px solid;
                border-image: linear-gradient(to bottom right,#7855c8,#cb53bd,#fcc476) 1;
            }
        }
    }
    .controls {
        flex: 1;
    }
}
